.main-navigation {
  @include top-bar-container;

  .menu {
    & > li {
      & > a {
        font-weight: 600;
        color: #676767;

        &:hover,
        &:focus {
          color: $primary-color;
        }
      }
    }

    .button {
      background-color: $success-color;
      color: $white;
      font-weight: 400;

      &:hover,
      &:focus {
        background-color: scale-color($success-color, $lightness: -20%);;
        color: darken($white, 5%);
      }
    }
  }
}
